/* Button component */
.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block; /* Keeps the inline width and places as block */
    border-radius: 100px;
    transition: all 0.3s; /* time transitions for all props to .5s*/
    /* backface-visibility hack for animated or transformed element shaking prevention */
    backface-visibility: hidden;
    position: relative;
  }
  // after element
  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute; /* refers to .btn:visited, .btn:link*/
    /* position it parallel to btn*/
    top: 0;
    left: 0;
    z-index: -1;
    /* manage transition */
    transition: all 0.4s;
  }

  /* on hover */
  &:hover {
    transform: translateY(-6%);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
    // after element hover
    &::after {
      /* scale element on hover transition */
      transform: scale(1.5, 2);
      /* and fade it */
      opacity: 0;
    }
  }

  /* on click */
  &:active {
    transform: translateY(-1%);
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.1);
  }

  /* White buttons */
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    &::after {
      background-color: $color-white;
    }
  }

  &--animated {
    animation: move-in-button 1.5s ease-in-out 1.5s backwards;
    /* 
      animation-name: move-in-button;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;
      animation-delay: 1.5s;
      animation-fill-mode: backwards; --------> Sets the load value of the animated element props to the 0% value in animation.
      */
  }
}
