/* Heading animations */
@keyframes move-in-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(1.5%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  80% {
    transform: translateX(-1.5%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Heading Button animation */
@keyframes move-in-button {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
